.topbar a {
    text-decoration: none;
    color: black;
}

footer a {
    text-decoration: none;
    color: #5f6368;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

footer {
    background-color: #f2f2f2;
    color: #5f6368;
    line-height: 35px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

li {
    display: block;
    padding: 5px;
    }

.button {
    background-color: #f2f2f2;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    flex-direction: row;
    height: 40px;
    margin: 11px 4px;
    width: 150px;
    padding: 0 16px;
}

.footer-row-1 {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    margin-left: -5px;
    padding-left: 27px;
    bottom: 40px;
    width: 100%;
}

.bottomnav {
    color: #5f6368 !important;
}

.logo {
    margin: 200px 0 auto;
    width: 100%;
}

.leftnav {
    float: left;
    padding: 5px;
    margin: 5px 0 0 20px;
}

.rightnav {
    float: right;
    padding: 5px;
    margin: 5px 20px 0 0;
}

.searchform {
    margin: 20px auto;
}

.topbar {
  position: fixed;
  line-height: 30px;
  top: 0px;
  height: 50px;
  width: 100%;
}

.logo img {
    display: block;
    margin: 0 auto;
}

#about {
    grid-column: 1 / span 1;
}

#buttons {
    display: flex;
    justify-content: center;
    -webkit-appearance: none;
    padding: 5px;
}

#searchbar {
    background-image: url(search-bar-image.png);
    background-size: contain;
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 34px;
    border-radius: 23px;
}